@media only screen and (min-width: 600px) {
    .container {
        padding: 48px 58px;
    }

    .mobile-logo-container {
        display: none;
    }

    .open-menu {
        display: none;
    }

    aside {
        display: flex;
    }

    .account {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 100px 58px;
    }

    .mobile-logo-container {
        display: flex;
        position: absolute;
        top: 20px;
    }

    .open-menu {
        display: flex;
        /* justify-content: flex-end; */
        position: absolute;
        right: 20px;
        top: 20px;
    }

    aside {
        display: none;
    }

    .account {
        display: none;
    }

    /* display: none; */
}

.admin-panel {
    /* display: flex; */
    display: none;
}

aside {
    /* display: flex; */
    background-color: #720418;
    width: 400px;
    /* height: 100vh; */
    position: sticky;
    /* top: 0; */
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding: 92px 36px 0 36px;
}

.mobile-logo-container {
    /* display: flex; */
    align-items: center;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    /* z-index: -1; */
}

.mobile-logo-container h1 {
    color: #720418;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 4px;
}

.mobile-line {
    width: 128px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.59);
    margin-bottom: 4px;
}

/* .mobile-logo-container img{
    width: 50px;
} */

.logo-container {
    /* display: none; */
    display: flex;
    position: fixed;
    top: 92px;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 20px; */
}

.logo-container h1 {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 10px;
}

.line {
    width: 202px;
    height: 1px;
    background-color: #ffffff96;
    margin-bottom: 10px;
}

.logo-container p {
    font-weight: 400;
    font-size: 13px;
}

.close-menu {
    display: none;
    background-color: transparent;
    border: none;
}

nav {
    position: fixed;
    top: 200px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

nav ul li img {
    /* height: 60px; */
    width: 36px;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

.container {
    /* padding: 48px 58px; */
    width: 100%;
    background-color: #fffaf5;
    position: static;
    left: 352px;
}

.open-menu {
    height: 30px;
    width: 50px;
    /* display: flex; */
    /* justify-content: flex-end; */
}

.open-menu button {
    background-color: transparent;
    border: none;
}

.account {
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-bottom: 48px;
}

.account span {
    margin-top: 6px;
    font-family: "Roboto", sans-serif;
}

.add-book {
    margin-bottom: 100px;
}

.book-form {
    margin-bottom: 100px;
}

.about-store {
    margin-bottom: 100px;
}

.join-us {
    margin-bottom: 100px;
}

.books {
    margin-bottom: 100px;
}

.title-tables {
    color: #333;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.join-table {
    text-align: center;
    width: 50%;

}

.join-first-title {
    background-color: #720418;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%;
    color: #fff;
    letter-spacing: 0.14px;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset;
    display: table-header-group;
}

.join-table th {
    padding: 16px 16px;
    border-top: 1px solid #dee2e6;


}

.table-body tr {
    border-top: 1px solid #dee2e6;

}

.table-body {
    padding: 0.75rem;
    color: #05111A;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
}

.books {
    margin-bottom: 100px;

}

.books-table {
    text-align: center;
    width: 100%;
}

.books-table th {
    text-align: left;
    padding: 16px 16px;
    border-top: 1px solid #dee2e6;
}
.books-table td{
    padding: 8px 16px;;
}
.book-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 6px;
}
.join-table  tbody tr:nth-child(even) ,
.books-table  tbody tr:nth-child(even) {
    background-color: rgba(249, 250, 252, 1);
}
.join-table tbody tr:nth-child(odd) ,
.books-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 1);
}

.contact-us {
    margin-bottom: 100px;
}
